.container{
min-height:calc(100vh - 70px);
}
form{
margin:20px auto;
}
input,select{
margin-right:5px;
}
.pager{
text-align:left;
}
.paginationBox{
text-align:center;
}
footer{
height:40px;
color:white;
background:#347ab7;
text-align:center;
line-height:40px;
margin-top:30px;
}