html{
	background-color:pink;
}
table{
	width:600px;
	margin:50px auto 0;
}
td{
	background-color:white;
	text-align:center;
	font-size:200px;
}
p{
	color:gray;
	margin-top:0;
	text-align:center;
	font-size:100px;
}